.search-movie {
  display: none;
  text-align: center;
}

.search-movie__label {
  font-weight: 600;
  text-align: center;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
}

.search-movie__input {
  @include font-size(14px);
  appearance: none;
  background-color: transparent;
  border: 0;
  border-bottom: 1px solid $white;
  color: $white;
  display: block;
  font-weight: 600;
  letter-spacing: 0.1rem;
  margin: 0.5rem auto 3rem;
  max-width: 400px;
  padding: 0.5rem 0;
  text-align: center;
  text-transform: uppercase;
  width: 100%;
  position: relative;
  text-align-last: center;
  cursor: pointer;

  @media screen and (min-width: $small) {
    @include font-size(18px);
    padding: 0.75rem 0;
  }

  @media screen and (min-width: $wide) {
    @include font-size(22px);
    padding: 1rem 0;
    margin: 1rem auto 5rem;
  }
}
